sff-transactions {
  display: block;
}

.cnt-season-sel {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  margin: 0.5rem 0;
}

.ctn-transactions {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.ctn-transactions > * {
  flex-grow: 1;
}

@media screen and (max-width: 70rem) {
  .ctn-transactions {
    flex-wrap: wrap;
  }
}

.trades,
.signings {
  max-width: 28rem;
}

@media screen and (min-width: 54rem) {
  .signings {
    flex-shrink: 0.2;
  }

  .trades {
    max-width: 56rem;
  }

  .trade-summary > :nth-of-type(2) {
    min-width: 20rem;
  }
}

.trades > h2,
.signings > h2 {
  border-bottom: 2px solid var(--dk-on-bg-color);
  border-top: 2px solid var(--dk-on-bg-color);
  margin: 0;
  padding: 0.4rem;
}

.transactions > h3 {
  background-color: var(--dk-primary-color, var(--lt-primary-color));
  box-shadow: 0px 1px 4px 0px hsla(0deg, 0%, 8%, 0.15);
  color: var(--dk-on-primary-color, var(--lt-on-primary-color));
  margin: 6px 0 0 0;
  padding: 0.15rem 1rem;
}

.transaction-summary {
  background-color: var(--dk-bg-color-700, var(--lt-bg-color-100));
  box-shadow: 0px 1px 3px 0px hsla(0deg, 0%, 8%, 0.1);
  margin: 3px 0;
  padding: 0.6rem 1rem;
}

.transaction-summary:nth-of-type(even) {
  background-color: var(--dk-bg-color-600, var(--lt-bg-color-200));
}

.trade-summary {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-between;
}

.ctn-transactions > *,
.trade-summary > *,
.transaction-content > * {
  min-width: 0;
}

.transaction-title {
  margin: 4px 0;
}

.transaction-content {
  align-items: flex-start;
  display: flex;
  gap: 10px;
}

.team-log {
  align-self: start;
  background-color: var(--dk-bg-color-500, var(--lt-bg-color-300));
  font-size: 24px;
}

.traded-pls {
  margin: 0;
  padding-left: 0;
}

.cnt-pl-info {
  list-style-type: none;
}

abbr[title] {
  text-decoration-thickness: 1px;
}

.plr-pos {
  background-color: var(--dk-primary-color-300, var(--lt-primary-color-300));
  background-clip: padding-box;
  border-radius: 5px;
  box-shadow: 0px 1px 3px 0px hsla(0deg, 0%, 8%, 0.1);
  color: var(--dk-on-primary-color, var(--lt-on-primary-color));
  display: inline-block;
  font-size: 0.74rem;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  width: 1.3rem;
}

.cnt-pl-info > * {
  white-space: nowrap;
}

a {
  color: var(--dk-on-bg-color, var(--lt-on-bg-color));
}
