@import url("../util/common.css");

:host {
  background-color: var(--dk-bg-color-750);
  border-radius: 8px;
  box-shadow: 0px 1px 3px 0px rgb(15, 15, 15, 0.3);
  display: block;
  overflow: auto;
  padding: 0.5rem 1%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  min-width: 24rem;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}

.compact {
  min-width: 16rem;
}

td,
th {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0.25rem 0;
}

th {
  text-transform: capitalize;
  width: 6.5%;
}

.compact th {
  width: 9%;
}

@media screen and (max-width: 35rem) {
  th {
    width: 2rem;
  }
}

th:nth-child(1) {
  width: 2.8rem;
}

td {
  height: 2rem;
}

th:nth-child(2),
td:nth-child(2) {
  text-align: left;
  width: unset;
}

caption {
  padding: 0.25rem 0;
}

h2 {
  margin: 0 0 6px 0;
}

tr {
  border-bottom: 1px solid var(--dk-bg-color-600, var(--lt-bg-color-100));
}

tr:last-child {
  border-bottom: none;
}

tr:nth-of-type(even) > td {
  background-color: var(--dk-bg-color-750, var(--lt-bg-color-100));
}

.user-row > td {
  border-top: 1px solid var(--dk-primary-color-300, var(--lt-primary-color-300));
  border-bottom: 1px solid
    var(--dk-primary-color-300, var(--lt-primary-color-300));
}

td:first-child a {
  font-style: italic;
  font-weight: bold;
}
