@import "../util/button.css";
@import "../util/common.css";
@import "../util/form.css";

sff-team {
  display: block;
}

.team-main {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.team-main > :first-child {
  flex-grow: 1;
  /* this value should match ENTIRE_PITCH_WIDTH */
  max-width: calc((66px + 3px * 2) * 12);
  overflow: auto;
}

.cnt-controls {
  background-color: var(--dk-bg-color-750);
  border-radius: 5px;
  box-shadow: 0px 1px 3px 0px rgba(19, 19, 19, 0.26);
  max-width: max-content;
  padding: 4px 8px;
  position: relative;
}

.info-link {
  position: absolute;
  right: 4px;
  top: 4px;
}

.cnt-controls > h3 {
  margin: 0;
}

.controls {
  margin: 0.5rem 0;
  padding-left: 1rem;
}

.controls > li {
  background-color: var(--dk-bg-color-700);
  border-radius: 5px;
  list-style-type: none;
  margin-bottom: 5px;
  padding: 2px 0.25rem;
}

.cnt-pitch {
  position: relative;
  /* this value should match ENTIRE_PITCH_WIDTH */
  min-width: calc((66px + 3px * 2) * 4.9);
  max-width: calc((66px + 3px * 2) * 12);
}

@media screen and (min-width: 500px) {
  .cnt-pitch {
    /* this value should match ENTIRE_PITCH_WIDTH */
    min-width: calc((66px + 3px * 2) * 6.5);
  }
}

.cnt-table {
  flex-grow: 1;
  overflow: auto;
}

table {
  min-width: 32rem;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}

.plr,
.plr-head {
  align-items: center;
  border-radius: 8px;
  display: flex;
  gap: clamp(2px, 0.5vw, 10px);
  padding: 3px 10px;
}

.plr-head {
  padding: 2px 10px;
}

.plr:nth-of-type(even) {
  background-color: var(--dk-bg-color-700, var(--lt-bg-color-100));
  box-shadow: 0px 1px 3px 0px hsl(0deg 0% 5% / 15%);
}

.plr-name {
  flex-grow: 1;
  flex-shrink: 2;
  text-align: left;
  width: 10rem;
}

.plr-n {
  width: 1.3rem;
}

.plr-pos {
  width: 2.5rem;
}

td.plr-pos {
  background-color: var(--dk-bg-color-600, var(--lt-bg-color-200));
  border-radius: 8px;
  box-shadow: 0px 1px 3px 0px hsl(0deg 0% 5% / 15%);
  height: 1.9rem;
}

td.plr-pos:first-child {
  align-items: center;
  display: flex;
  justify-content: center;
}

.plr-at {
  /* background-color: #d44e4e; */
  align-self: stretch;
}

.plr-at:hover {
  filter: brightness(1.25);
}

.btn-at,
td.plr-pos {
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-at {
  height: 100%;
  width: 100%;
  color: var(--dk-on-primary-color);
}

.starting > .plr-pos {
  background-color: var(--dk-primary-color-700, var(--lt-primary-color-700));
}

.skill-score {
  width: 3rem;
}

td.skill-score > span {
  border-bottom-style: solid;
  background-clip: padding-box;
  border-bottom-width: 2px;
  display: inline-block;
  font-weight: bold;
  width: 1.5rem;
}

.plr > td,
.plr-head > th {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

svg {
  display: block;
}

rect.pitch {
  fill: hsl(120, 53%, 27%);
}

rect.playing-pitch {
  stroke: white;
  fill: transparent;
}

.starter-tag {
  background-color: hsla(275deg, 4%, 16%, 0.75);
  border-radius: 5px;
  box-shadow: 0px 1px 3px 0px hsl(0deg 0% 5% / 25%);
  max-width: 7rem;
  min-width: 5.5rem;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  width: 15vw;
  white-space: nowrap;
}

.starter-tag > * {
  overflow: hidden;
  text-overflow: ellipsis;
}

.tag-name {
  font-size: 0.9rem;
  padding: 0 0.1rem;
  padding-top: 0.1rem;
}

.tag-info {
  background-color: hsla(275deg, 4%, 23.5%, 0.75);
  font-size: 0.7rem;
  padding: 0 0.1rem;
  padding-bottom: 0.1rem;
  text-transform: uppercase;
}

.tag-pos {
  background-color: var(--dk-primary-color-300, var(--lt-primary-color-300));
  border-radius: 2px;
  color: var(--dk-on-primary-color, var(--lt-on-primary-color));
  padding: 0 0.1rem;
}

.injured {
  width: 16px;
  height: 16px;
}

.sqd-number {
  font-weight: bold;
}

.captain,
.sqd-number {
  font-style: italic;
}
