button {
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
}

.btn {
  background-color: var(--dk-primary-color, var(--lt-primary-color));
  border: none;
  border-radius: 2px;
  box-shadow: 0px 1px 3px 0px hsl(0deg 0% 5% / 20%);
  font-weight: bold;
  padding: 0.7rem;
  text-align: center;
}

.btn--err {
  background-color: var(--dk-error-color, var(--lt-error-color));
}

.btn--acc {
  background-color: var(--dk-positive-color, var(--lt-positive-color));
}

.btn:hover {
  background-color: var(--dk-secondary-color, var(--lt-secondary-color));
}

.btn-link {
  background-color: transparent;
  border: none;
  color: var(--dk-on-bg-color, var(--lt-on-bg-color));
  cursor: pointer;
  padding: 0;
  text-decoration-line: underline;
}

.btn-link:disabled {
  cursor: default;
  filter: brightness(0.5);
}

/* only for accessibility */
.btn-txt {
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: var(--dk-on-bg-color, var(--lt-on-bg-color));
  padding: 0;
}
