.btn,
.btn-close {
  border: var(--border-invisible);
  cursor: pointer;
  display: inline-block;
  box-shadow: var(--shadow);
  transition: border-color var(--duration-150) linear,
    box-shadow var(--duration-150) linear, filter var(--duration-150) linear;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-align: center;
  vertical-align: middle;
}

.btn-close {
  --btn-hover-border-color: var(--dk-error-color, var(--lt-error-color));
  --btn-focus-box-shadow: var(--ring-error);
  background-color: var(--close-btn-bg-color, var(--error-color));
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48' width='48' fill='%2338363a'%3E%3Cpath d='m12.45 37.65-2.1-2.1L21.9 24 10.35 12.45l2.1-2.1L24 21.9l11.55-11.55 2.1 2.1L26.1 24l11.55 11.55-2.1 2.1L24 26.1Z'/%3E%3C/svg%3E%0A");
  background-position: center;
  border-radius: var(--rounded-full);
  background-repeat: no-repeat;
  background-size: 100%;
  height: var(--h-6);
  width: var(--w-6);
}

.btn {
  --btn-hover-border-color: var(--primary-color);
  --btn-focus-box-shadow: var(--ring-primary);
  background-color: var(--primary-color);
  border-radius: var(--rounded-sm);
  color: var(--close-btn-color, var(--color-on-error));
  font-weight: bold;
  padding: var(--py-2) var(--px-6);
}

.btn-sml {
  padding: var(--py-1) var(--px-2);
}

.btn-rounded {
  border-radius: var(--rounded-2xl);
}

.btn-txt,
.btn-link {
  --btn-hover-border-color: var(--primary-color);
  --btn-focus-box-shadow: var(--ring-primary);
  background-color: transparent;
  border: none;
  border-radius: var(--rounded);
  color: var(--color-on-bg);
  font: inherit;
  padding: 0;
}

.btn-link {
  cursor: pointer;
  text-decoration-line: underline;
}

.btn:hover:not(:disabled),
.btn-close:hover:not(:disabled) {
  filter: var(--brightness-130);
}

@media (prefers-reduced-motion: reduce) {
  .btn,
  .btn-close {
    transition: none;
  }
}

.btn:focus-visible:not(:disabled),
.btn-close:focus-visible:not(:disabled),
.btn-txt:focus-visible:not(:disabled),
.btn-link:focus-visible:not(:disabled) {
  border-color: var(--btn-hover-border-color);
  outline: none;
  box-shadow: var(--btn-focus-box-shadow);
}

.btn--err {
  background-color: var(--dk-error-color, var(--lt-error-color));
  color: var(--dk-on-error-color, var(--lt-on-error-color));
  --btn-hover-border-color: var(--dk-error-color, var(--lt-error-color));
  --btn-focus-box-shadow: var(--ring-error);
}

.btn--acc {
  background-color: var(--dk-positive-color, var(--lt-positive-color));
  --btn-hover-border-color: var(--dk-positive-color, var(--lt-positive-color));
  --btn-focus-box-shadow: var(--ring-positive);
}

.btn:disabled,
.btn-link:disabled,
.btn-close:disabled {
  filter: var(--brightness-50);
}

button:disabled {
  cursor: not-allowed;
}

.btn-link:disabled {
  cursor: default;
}

.icon-bg-btn {
  --icon-size: 1rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: var(--icon-size) auto;
}
