a {
  color: var(--dk-on-bg-color, initial);
}

abbr[title] {
  text-decoration: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

input,
select,
textarea,
button,
option {
  font: inherit;
}
