dialog {
  background-color: var(--dk-bg-color-700, var(--lt-bg-color-200));
  border: 2px solid var(--dk-bg-color-600, var(--lt-bg-color-300));
  border-radius: 5px;
  box-shadow: 0px 2px 4px 0px hsl(0deg 0% 4% / 40%);
  color: var(--dk-on-bg-color, var(--lt-on-bg-color));
  max-width: 99vw;
  max-height: 99vh;
  padding: 6px 1rem 1rem 1rem;
}

.dig-head {
  border-bottom: 1px solid var(--dk-bg-color-500, var(--lt-bg-color-200));
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  min-height: 30px;
  margin-bottom: 1rem;
  padding-left: 5px;
}

.dig-title {
  margin: 0;
}

.modal-close {
  align-self: start;
  margin-left: auto;
}
