.form-control,
.form-select,
.form-number {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-clip: padding-box;
  background-color: var(--bg-form-control);
  border: var(--border-invisible);
  border-radius: var(--rounded-2xl);
  color: var(--color-on-bg);
  display: block;
  font: inherit;
  transition: border-color var(--duration-150) linear,
    box-shadow var(--duration-150) linear;
  padding: var(--py-2) var(--px-6);
  width: 100%;
}

.form-number {
  -moz-appearance: textfield;
}

.form-select {
  --select-icon-width: 1rem;
  --select-icon-height: 0.75rem;
  padding-right: calc(var(--select-icon-width) * 1.5 + var(--px-6));
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23e6e6e6' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right var(--px-6) center;
  background-size: var(--select-icon-width) var(--select-icon-height);
}

.form-control::placeholder,
.form-number::placeholder {
  color: var(--color-on-bg-100);
  opacity: 1;
}

.form-control:focus,
.form-select:focus,
.form-number:focus {
  border-color: var(--primary-color-300);
  outline: 0;
  box-shadow: var(--ring-primary);
}

.form-control:disabled,
.form-select:disabled,
.form-number:disabled {
  filter: var(--brightness-75);
  opacity: 1;
}

.form-control:not(:placeholder-shown):invalid {
  --control-error-icon-size: 1.25rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23eb5d5d'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23eb5d5d' stroke='none'/%3e%3c/svg%3e");
  background-position: right calc(var(--control-error-icon-size) * 0.5) center;
  background-repeat: no-repeat;
  background-size: var(--control-error-icon-size) var(--control-error-icon-size);
  border-color: var(--dk-error-color);
  padding-right: calc(var(--control-error-icon-size) * 1.6);
}

.form-number:not(:placeholder-shown):invalid {
  border-color: var(--dk-error-color);
}

.form-control:not(:placeholder-shown):invalid:focus,
.form-number:not(:placeholder-shown):invalid:focus {
  border-color: var(--dk-error-color);
  box-shadow: var(--ring-error);
}

@media (prefers-reduced-motion: reduce) {
  .form-control,
  .form-select {
    transition: none;
  }
}

.form-label {
  display: block;
  margin-bottom: 0.3rem;
  font-size: 0.85rem;
  font-weight: 300;
}
