input[type="text"] {
  padding: 0.4rem;
}

input[type="text"],
option,
select {
  font-family: inherit;
  font-size: 0.9rem;
}

input:invalid:focus,
input:out-of-range:focus {
  background-color: var(--error-color);
  color: var(--font-color);
  outline-color: var(--error-color);
}

.input-bg {
  border-radius: 2px;
  background-color: var(--dk-bg-color-700, var(--lt-bg-color-100));
  border: 1px solid var(--dk-bg-color-500, var(--lt-bg-color-200));
  color: var(--dk-on-bg-color, var(--lt-on-bg-color));
}
