:host {
  display: grid;
  grid-template-areas:
    "head head"
    "navB main"
    "foot foot";
  grid-template-columns: minmax(0px, auto) minmax(0px, 1fr);
}

nav {
  grid-area: navB;
  height: calc(100vh - var(--header-height));
  position: sticky;
  top: var(--header-height);
  transition: opacity 0.3s;
  z-index: 2;
}

.btn-toggle-nav {
  display: none;
  --icon-size: 1.75rem;
  width: calc(1.15 * var(--icon-size));
  height: calc(1.15 * var(--icon-size));
}

.btn-toggle-nav[data-open="true"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48' width='48' fill='%23eee'%3E%3Cpath d='M6 36v-3h36v3Zm0-10.5v-3h36v3ZM6 15v-3h36v3Z'/%3E%3C/svg%3E");
}

.btn-toggle-nav[data-open="false"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48' width='48' fill='%23eee'%3E%3Cpath d='m12.45 37.65-2.1-2.1L21.9 24 10.35 12.45l2.1-2.1L24 21.9l11.55-11.55 2.1 2.1L26.1 24l11.55 11.55-2.1 2.1L24 26.1Z'/%3E%3C/svg%3E%0A");
}

@media screen and (max-width: 36rem) {
  :host {
    grid-template-areas:
      "head"
      "main"
      "foot";
    grid-template-columns: minmax(0px, 1fr);
  }

  nav {
    position: fixed;
    width: 100vw;
    z-index: 3;
  }

  .btn-toggle-nav {
    display: block;
  }

  .mb-nav-close {
    display: none;
  }
}

header {
  grid-area: head;
  height: var(--header-height);
  position: sticky;
  z-index: 4;
  top: 0px;
}

main {
  grid-area: main;
}

aside {
  grid-area: side;
}

footer {
  height: var(--footer-height);
  grid-area: foot;
  z-index: 2;
}
