:host {
  display: grid;
  grid-template-areas:
    "head head"
    "navB main"
    "foot foot";
  grid-template-columns: minmax(0px, auto) minmax(0px, 1fr);
}

* {
  box-sizing: border-box;
}

nav {
  grid-area: navB;
  height: calc(100vh - var(--header-height));
  position: sticky;
  top: var(--header-height);
  transition: opacity 0.3s;
  z-index: 2;
}

.btn-toggle-nav {
  background-color: transparent;
  border: none;
  bottom: 1px;
  color: var(--dk-on-bg-color, var(--lt-on-bg-color));
  display: none;
  font-size: 1.5rem;
  font-weight: bold;
  left: 1px;
  position: absolute;
}

@media screen and (max-width: 36rem) {
  :host {
    grid-template-areas:
      "head"
      "main"
      "foot";
    grid-template-columns: minmax(0px, 1fr);
  }

  nav {
    position: fixed;
    width: 100vw;
    z-index: 3;
  }

  .btn-toggle-nav {
    display: block;
  }

  .mb-nav-close {
    display: none;
  }
}

header {
  grid-area: head;
  height: var(--header-height);
  position: sticky;
  z-index: 4;
  top: 0px;
}

main {
  grid-area: main;
}

aside {
  grid-area: side;
}

footer {
  height: var(--footer-height);
  grid-area: foot;
  z-index: 2;
}
