.led {
  border-radius: 50%;
  height: 11px;
  width: 11px;
}

.led--on {
  background-image: radial-gradient(
    50% 50%,
    var(--dk-positive-color, var(--lt-positive-color)),
    transparent
  );
}

.led--off {
  background-image: radial-gradient(
    50% 50%,
    var(--dk-error-color, var(--lt-error-color)),
    transparent
  );
}

.led--mid {
  background-image: radial-gradient(
    50% 50%,
    var(--dk-neutral-color, var(--lt-neutral-color)),
    transparent
  );
}
