.led {
  border: 2px solid var(--bg-v4-color);
  border-radius: 50%;
  height: 0.9rem;
  width: 0.9rem;
  box-shadow: 0px 1px 3px 0px hsla(0deg, 0%, 8%, 20%);
}

.led--on {
  background-image: radial-gradient(
    50% 50%,
    var(--positive-color),
    var(--positive-color-tsp-500)
  );
}

.led--off {
  background-image: radial-gradient(
    50% 50%,
    var(--error-color),
    var(--error-color-tsp-500)
  );
}

.led--mid {
  background-image: radial-gradient(
    50% 50%,
    var(--neutral-color),
    var(--neutral-color-tsp-500)
  );
}
