:host {
  display: block;
}

* {
  box-sizing: border-box;
}

dialog {
  background-color: var(
    --modal-bg-color,
    var(--dk-bg-color, var(--lt-bg-color))
  );
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 4px 0px hsl(0deg 0% 8% / 30%);
  color: var(--dk-on-bg-color, var(--lt-on-bg-color));
  padding: 1.5rem 1rem;
  max-width: calc(100% - 1rem);
  max-height: calc(100% - 1rem);
}

dialog::backdrop {
  background-color: var(--backdrop-color, #464646bf);
}

.close-btn {
  background-color: var(
    --close-btn-bg-color,
    var(--dk-error-color, var(--lt-error-color))
  );
  border: none;
  box-shadow: 0px 1px 3px 0px hsla(0deg 0% 8% / 10%);
  cursor: pointer;
  color: var(
    --close-btn-color,
    var(--dk-on-error-color, var(--lt-on-error-color))
  );
  font-weight: bold;
  padding: 2px 5px;
  position: absolute;
  right: 0;
  top: 0;
}

.close-btn:hover {
  filter: brightness(1.2);
}
