/** this file apply the utility first approach, the naming convention try (mostly) to stick to Tailwind */

/*_______________ colors ________________*/

.bg-700 {
  background-color: var(--bg-700);
}

.bg-650 {
  background-color: var(--bg-650);
}

.bg-primary-300 {
  background-color: var(--primary-color-300);
}

.bg-transparent {
  background-color: transparent;
}

/** _______________ PADDING __________________ */
/**
  padding: p{direction}-{size in rem, underscore for .} --> pr-0_5 === padding-right: 0.5rem
  or p{direction}-{size in px}x --> pr-1x === padding-right: 1px
  when no direction is specified set all sides */

.py-0_3 {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.px-0_75 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-0_1 {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.px-0_25 {
  padding-left: 0.25rem;
  padding-right: 0.25em;
}

/** _______________ LAYOUT _________________**/

.hide {
  position: absolute;
  left: -999rem;
}

.grid {
  display: grid;
}

.absolute {
  position: absolute;
}

/* underscore for percentage */
.top_50 {
  top: 50%;
}

.left-2 {
  left: 0.375rem;
}

/** ______________ Typography ______________ **/

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.italic {
  font-style: italic;
}

.font-light {
  font-weight: 300;
}

.font-bold {
  font-weight: 700;
}

.leading-5 {
  line-height: 1.25;
}

.text-center {
  text-align: center;
}

/*___________________ border _________________ */

.rounded-md {
  border-radius: 0.375rem;
}

/* ___________________Sizing____________________ */

.w-5 {
  width: 1.25rem;
}

.h-5 {
  height: 1.25rem;
}

.w-6 {
  width: 1.5rem;
}

.h-6 {
  height: 1.5rem;
}

.w-7 {
  width: 1.75rem;
}

.w-max {
  width: max-content;
}

/*________________________Flexbox & Grid___________*/

.self-center {
  align-self: center;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 40rem) {
  .sm-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.gap-2 {
  gap: 0.5rem;
}

/* __________________ effect ________________*/

.shadow-none {
  box-shadow: none;
}

/* ____________________ transform _______________ */

.translate-y_-50 {
  transform: translateY(-50%);
}
