:host {
  align-items: center;
  background-color: var(--dk-bg-color, var(--lt-bg-color));
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
