:host {
  align-items: center;
  background-color: var(--dk-bg-color-700, var(--lt-bg-color));
  border-bottom: 1px solid var(--dk-bg-color-500, var(--lt-bg-color-100));
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  height: 100%;
}

.ctn-team {
  align-items: center;
  display: flex;
  gap: 1rem;
  height: 100%;
  margin-left: 2rem;
  position: relative;
}

.ctn-team > h2 {
  position: absolute;
  left: 80%;
}

.primary {
  stroke-width: 10;
}

.secondary {
  stroke-width: 5;
}

.team-svg {
  display: block;
  height: 100%;
}
