:host {
  background-color: var(--dk-bg-color-725, var(--lt-bg-color));
  border-right: 1px solid var(--dk-bg-color-500, var(--lt-bg-color-100));
  box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  overflow-y: auto;
  padding: var(--footer-height) 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  transition: background-color 0.2s;
}

li:hover {
  background-color: var(--dk-primary-color, var(--lt-primary-color));
}

.rt-link {
  display: inline-block;
  color: var(--dk-on-bg-color, var(--lt-on-db-color));
  cursor: pointer;
  height: 100%;
  padding: 0.5rem 1rem;
  transition: color 0.25s;
  width: 100%;
  text-decoration: none;
  text-transform: capitalize;
}

.home > .rt-link {
  border-bottom: 1px solid var(--dk-bg-color-500);
}

li:hover > .rt-link {
  box-shadow: 0px 1px 3px 0px hsla(0deg, 0%, 8%, 0.15);
  color: var(--dk-on-primary-color, var(--lt-on-primary-color));
}

.inbox > .rt-link > span,
.offers > .rt-link > span {
  position: relative;
}

.badge {
  background-color: var(--dk-primary-color-300);
  border-radius: 50%;
  display: inline-block;
  color: var(--dk-on-primary-color);
  font-size: 0.75rem;
  font-weight: bold;
  height: 1rem;
  line-height: 1rem;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transform: translate(80%, -25%);
  width: 1rem;
}
