:host {
  display: block;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

::slotted([slot="in-main"]) {
  margin: 2rem auto;
  max-width: 97rem;
  padding: 0 2%;
}

/* ----------------- temporary stuff ---------------------- */
[slot="in-footer"] {
  background-color: var(--dk-bg-color-725, var(--lt-bg-color));
  border-top: 1px solid var(--dk-bg-color-500, var(--lt-bg-color-100));
  height: 100%;
}

[slot="in-footer"] > * {
  margin: 0;
}
