:host {
  background-color: var(--dk-bg-color-725, var(--lt-bg-color));
  border-right: 1px solid var(--dk-bg-color-500, var(--lt-bg-color-100));
  box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  overflow-y: auto;
  padding: var(--footer-height) 0;
}

ul {
  margin: 0;
  min-width: 9rem;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  display: inline-block;
  color: var(--dk-on-bg-color, var(--lt-on-db-color));
  cursor: pointer;
  height: 100%;
  padding: 0.5rem 1rem;
  transition: color 0.2s linear;
  width: 100%;
  text-decoration: none;
  text-transform: capitalize;
}

.home > a {
  border-bottom: 1px solid var(--dk-bg-color-500);
}

li:hover > a {
  color: var(--dk-on-bg-color-300, var(--lt-on-bg-color-300));
}

.inbox > a > span,
.offers > a > span {
  position: relative;
}

@keyframes ani-badge {
  from {
    filter: brightness(1);
  }

  to {
    filter: brightness(1.5);
  }
}

.badge {
  animation: ani-badge 1s linear infinite alternate;
  background-color: var(--dk-primary-color-300);
  border-radius: 50%;
  display: inline-block;
  color: var(--dk-on-primary-color);
  font-size: 0.75rem;
  font-weight: bold;
  height: 1rem;
  line-height: 1rem;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transform: translate(80%, -25%);
  width: 1rem;
}
