@import "../util/led.css";
@import "../util/button.css";

:host {
  align-items: center;
  background-color: var(--dk-bg-color-750, var(--lt-bg-color-100));
  border-bottom: 1px solid var(--dk-bg-color-500, var(--lt-bg-color-100));
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  gap: 0.5rem;
  padding: 3px 8px;
  position: sticky;
  top: var(--header-height);
  z-index: 1;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

menu-save-file > a {
  color: var(--dk-on-bg-color, var(--lt-on-bg-color));
}

saved-signal {
  background-image: radial-gradient(
    50% 50%,
    var(--dk-positive-color, var(--lt-positive-color)),
    var(--lt-positive-color-tsp-300, var(--lt-positive-color-tsp-300))
  );
  border-radius: 24% / 100%;
  box-shadow: 0px 1px 3px 0px hsl(0deg 0% 5% / 30%);
  color: var(--dk-on-positive-color, var(--lt-on-positive-color));
  font-weight: bold;
  padding: 0 0.5rem;
}
