@import "../util/button.css";
@import "../util/form.css";

:host {
  display: flex;
  gap: 3px;
  margin-right: 3px;
  text-align: center;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

visual-sim,
sim-options {
  display: block;
}

visual-sim {
  min-width: 20rem;
}

game-date {
  background-color: var(--dk-bg-color-700, var(--lk-bg-color-100));
  border: 2px solid var(--dk-on-bg-color, var(--lt-on-bg-color));
  border-radius: 15% / 30% 0 0 30%;
  border-right: none;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5rem;
}

:where(btn-sim-options, play-sim) > .btn {
  border-radius: 0;
  box-shadow: none;
  height: 100%;
  width: 100%;
}

btn-sim-options {
  position: relative;
}

btn-sim-options > .btn {
  background-color: var(--dk-bg-color-700, var(--lk-bg-color-100));
  border: 2px solid var(--dk-on-bg-color, var(--lt-on-bg-color));
  border-left: none;
  border-right: none;
  color: var(--dk-on-bg-color, var(--lt-on-bg-color));
}

sim-options {
  background-color: var(--dk-bg-color-700, var(--lt-bg-color-100));
  border-radius: 5px;
  box-shadow: 0px 2px 4px 0px hsla(0deg, 0%, 8%, 0.25);
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 0.8rem;
  position: absolute;
  right: 0px;
  top: calc(100% + 1px);
}

sim-options > label {
  position: absolute;
  top: -100%;
}
