sff-dashboard,
dashboard-next-match {
  display: block;
}

sff-dashboard {
  align-items: start;
  display: grid;
  gap: 1rem 0;
  grid-template-areas: "fx fx nx nx ix ix" "lg lg lg . . .";
  grid-template-columns: repeat(6, 1fr);
  justify-items: stretch;
}

.bg-grid1 {
  align-self: stretch;
  background-color: var(--dk-bg-color-750, var(--lt-bg-color-100));
  box-shadow: 0px 1px 4px 0px hsl(0deg 0% 6% / 20%);
  border-radius: 10px;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  justify-self: stretch;
}

dashboard-next-match {
  margin-top: 1rem;
  grid-area: nx;
  text-align: center;
}

sff-fixtures {
  font-size: 0.9rem;
  grid-area: fx;
  margin: 1rem 5%;
}

sff-inbox {
  background-color: var(--dk-bg-color-750, var(--lt-bg-color-100));
  box-shadow: none;
  --entry-bg: var(--dk-bg-color-700);
  --entry-margin-btm: 5px;
  font-size: 0.88rem;
  grid-area: ix;
  margin: 0.5rem 5%;
}

league-table {
  grid-area: lg;
}

@media screen and (max-width: 85rem) {
  sff-dashboard {
    grid-template-areas: "nx fx" "lg ix";
    grid-template-columns: minmax(0px, 9fr) minmax(0px, 7fr);
  }

  sff-inbox {
    margin: 0 0 0 5%;
  }
}

@media screen and (max-width: 62rem) {
  sff-dashboard {
    grid-template-areas: "nx nx" "fx ix" "lg lg";
    grid-template-columns: minmax(0px, 1fr) minmax(0px, 1fr);
  }

  sff-inbox {
    margin: 0 5%;
  }

  .bg-grid1 {
    grid-row: 1 / 3;
  }
}

@media screen and (max-width: 32rem) {
  sff-dashboard {
    grid-template-areas: "nx" "fx" "ix" "lg";
    grid-template-columns: 1fr;
  }

  sff-inbox {
    margin: 0 calc(5% - 6px);
  }

  .bg-grid1 {
    grid-row: 1 / 4;
  }
}

dashboard-next-match > h2 {
  margin: 0;
  margin-bottom: 0.3rem;
}

dashboard-next-match > p {
  margin: 0;
}

.team {
  display: inline-block;
  margin: 10px 20px;
}

.team h3 {
  margin: 0.25rem;
}

.team-logo {
  min-height: 150px;
}

.history-boxes {
  border-radius: 3px;
  display: flex;
  gap: 2px;
  overflow: hidden;
  transform: translateY(-100%);
}

.history-box {
  background-color: var(--dk-primary-color, var(--lt-primary-color));
  box-shadow: 0px 1px 3px 0px hsl(0deg 0% 5% / 5%);
  color: #2a2a2a;
  flex: 1 1 1.5rem;
  padding: 0.2rem 0;
}

.history-box.won {
  background-color: var(--dk-positive-color, var(--lt-positive-color));
}

.history-box.lost {
  background-color: var(--dk-error-color, var(--lt-error-color));
}

.history-box.drawn {
  background-color: var(--dk-neutral-color, var(--lt-neutral-color));
}

.rst-symbol {
  font-style: italic;
  text-transform: uppercase;
}
