sff-draft {
  display: block;
}

.cnt-season-sel {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cnt-season-sel > select {
  max-width: 10rem;
}

.cnt-draft-info {
  display: flex;
  justify-content: center;
}

.cnt-draft-players {
  flex-grow: 1;
  overflow: auto;
}

table {
  border-collapse: collapse;
  min-width: 27rem;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}

.cnt-lottery {
  flex-grow: 1;
  max-width: 14rem;
  padding: 0 1rem;
}

tr:nth-of-type(even) {
  background-color: var(--dk-bg-color-700, var(--lt-bg-color-100));
}

td,
th {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rtg-symbol {
  border-bottom: 2px solid;
  display: inline-block;
  width: 1.5rem;
}

td:nth-of-type(1) {
  height: 2rem;
  padding: 2px 0;
}

th:nth-of-type(1),
th:nth-of-type(3),
th:nth-of-type(4),
th:nth-of-type(5),
th:nth-of-type(6) {
  width: 3.4rem;
}

th:nth-of-type(8) {
  width: 5rem;
}

th:nth-of-type(7) {
  width: 8rem;
}

td > button {
  width: 90%;
}

@media screen and (max-width: 58rem) {
  th:nth-of-type(1) {
    width: 10%;
  }

  th:nth-of-type(3),
  th:nth-of-type(4),
  th:nth-of-type(5),
  th:nth-of-type(6),
  td:nth-of-type(3),
  td:nth-of-type(4),
  td:nth-of-type(5),
  td:nth-of-type(6) {
    font-size: 0.9rem;
    width: 8.25%;
  }

  th:nth-of-type(7),
  th:nth-of-type(8) {
    width: 15%;
  }

  .cnt-draft-info {
    flex-wrap: wrap;
  }
}

th:nth-of-type(2),
td:nth-of-type(2) {
  text-align: start;
}

.pick-n {
  background-color: var(--dk-primary-color-300, var(--dk-primary-color-300));
  border-radius: 8px;
  color: var(--dk-on-primary-color);
  display: inline-block;
  font-weight: bold;
  width: 1.8rem;
}

.cnt-lottery > h2 {
  margin: 0 0 5px 0;
}

.cnt-lottery > ol {
  margin: 0;
  padding: 0;
}

.lottery > li {
  padding: 0.4rem 1rem;
  list-style-position: inside;
  white-space: nowrap;
}

.lottery > li:nth-of-type(odd) {
  background-color: var(--dk-bg-color-700, var(--lt-bg-color-100));
}

[data-user] {
  font-weight: bold;
}

.lottery > [data-user][data-user] {
  background-color: var(--dk-primary-color-300, var(--dk-primary-color-300));
  color: var(--dk-on-primary-color);
  font-weight: bold;
  margin: 3px 0;
}

.lottery > [data-user] a {
  color: var(--dk-on-primary-color);
}
