@import url("../util/button.css");

:host {
  display: block;
  max-height: 80vh;
  overflow-y: auto;
}

:host([data-compact]) {
  max-height: 10rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 10px 5px;
  box-shadow: 0px 1px 3px 0px hsl(0deg 0% 6% / 20%);
  overflow: hidden;
  table-layout: fixed;
  width: 100%;
}

caption {
  text-align: left;
}

caption > h2 {
  background-color: var(--dk-bg-color-600, var(--lt-bg-color-200));
  margin: 0;
  padding: 0.4rem 15px;
}

td {
  overflow-x: hidden;
  padding: 8px clamp(8px, calc(2vw), 1rem);
  text-overflow: ellipsis;
  white-space: nowrap;
}

tr {
  background-color: var(--dk-bg-color-700, var(--lt-bg-color-100));
  border: 1px solid var(--dk-bg-color, var(--lt-bg-color));
  cursor: pointer;
}

tr:first-child > td:nth-child(1),
tr:first-child > td:nth-child(3) {
  width: 25%;
}

tr:first-child > td:nth-child(4) {
  width: 10%;
}

td:last-child {
  text-align: right;
}

tr:first-child > td:nth-child(2) {
  width: 40%;
}

.mail--opened {
  font-weight: bold;
}

.mail-info {
  border-bottom: 1px solid var(--dk-bg-color-500, var(--lt-bg-color-200));
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 98%;
}

.mail-info > span:first-child {
  margin-left: 1rem;
}

.mail-info > span:last-child {
  margin-right: 1rem;
}

.btn--err {
  border-radius: 50%;
  color: var(--dk-on-bg-color);
  padding: 1px 5px;
}
