:host {
  background-color: var(--dk-bg-color-700, var(--lt-bg-color-100));
  border-radius: 6px;
  display: block;
  box-shadow: 0px 1px 3px 0px hsl(0deg 0% 6% / 20%);
  padding: 4px 6px;
}

.open-mail {
  width: 80vw;
}

@media screen and (max-width: 24rem) {
  .open-mail {
    width: calc(100vw - 4rem);
  }
}

h2 {
  margin: 8px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  background-color: var(--entry-bg, var(--dk-bg-color-750, var(--lt-bg-color)));
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  margin-bottom: var(--entry-margin-btm, 2px);
  padding: 0.4rem;
  width: 100%;
}

li > span {
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

li > :first-child,
li > span:nth-child(3) {
  width: 9rem;
}

.close-cell {
  flex-shrink: 0;
  text-align: right;
  width: 2.5rem;
}

li > span:nth-child(2) {
  flex-grow: 1;
  flex-shrink: 2;
}

.date-cell {
  text-align: right;
}

@media screen and (max-width: 32rem) {
  .date-cell {
    display: none;
  }
}

@media screen and (max-width: 20rem) {
  li {
    flex-wrap: wrap;
  }

  li > :first-child {
    width: 100%;
  }
}

.mail--new {
  font-weight: 600;
}

.mail-info {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  gap: 1px 6px;
  justify-content: space-between;
  width: 100%;
}

.mail-info > :first-child {
  margin: 0;
}

.btn--err {
  border-radius: 50%;
  padding: 1px 5px;
}
