@import "../util/button.css";
@import "../util/form.css";

sff-home,
home-main,
home-team-picker,
home-new-game {
  display: block;
}

:root,
body {
  height: 100%;
}

body {
  background-image: linear-gradient(
    180deg,
    var(--dk-bg-color-600, var(--lt-bg-color)),
    var(--dk-bg-color, var(--lt-bg-color))
  );
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-wave {
  background: url("../../asset/wavesOpacity.svg");
  background-size: 100% 200px;
  background-repeat: no-repeat;
  height: 200px;
}

home-team-picker {
  text-align: center;
}

.cnt-content {
  text-align: center;
}

.head {
  font-style: italic;
}

.head > h1 {
  font-size: 70px;
  margin-bottom: 25px;
  position: relative;
  white-space: nowrap;
}

.head > h1 > :first-child {
  opacity: 0.4;
}

.head > h1 > :last-child {
  bottom: 0;
  left: 50%;
  opacity: 1;
  position: absolute;
  transform: translate(-50%, 40%);
}

.hm-btn {
  background-color: var(--dk-bg-color-750);
  color: var(--dk-on-bg-color);
  font-size: 24px;
  height: 85px;
  width: 160px;
}

.hm-btn:hover {
  border: 1px solid var(--dk-primary-color-300);
}

.fork-gh {
  align-items: center;
  display: flex;
  gap: 5px;
  justify-content: center;
  padding-bottom: 10px;
}

.fork-gh > a:hover {
  filter: brightness(1.4);
}

@media (max-width: 1200px) {
  .bg-wave {
    background-size: 100% max(15vw, 70px);
    height: max(15vw, 70px);
  }
}

@media (max-width: 520px) {
  .bg-wave {
    background-size: 600px 75px;
  }

  home-main {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .head > h1 {
    font-size: calc(8px + 10vw);
  }

  .hm-btn {
    width: 90%;
    margin: auto;
  }
}

.teams {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  width: calc(100vw - 4rem);
}

.saves {
  margin-bottom: 0;
  min-width: clamp(21rem, 50vw, 40rem);
}

.saves > li {
  align-items: baseline;
  background-color: var(--dk-bg-color-650, var(--lt-bg-color-200));
  border-radius: 2px;
  box-shadow: 0px 1px 3px 0px hsl(0deg 0% 5% / 25%);
  display: flex;
  gap: 3px;
  list-style-type: none;
  margin: 4px;
  padding: 0.2rem;
}

.saves > li > em {
  flex-grow: 1;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.saves > li > button {
  flex-shrink: 0;
  width: clamp(4rem, 15%, 6rem);
}

[for="game-file"] {
  color: var(--dk-on-primary-color);
  cursor: pointer;
  display: inline-block;
  width: 100%;
}

#game-file {
  position: absolute;
  top: -9999rem;
  width: 1px;
  height: 1px;
}

.cnt-new-game-name {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.cnt-new-game-name > .input-bg {
  background-color: var(--dk-bg-color-500);
}
