@import "../util/button.css";
@import "../util/common.css";

sff-player {
  display: block;
}

.plr-info {
  display: grid;
  grid-template-areas: "img high" "img info" "btn btn";
  grid-template-columns: repeat(2, minmax(0rem, max-content));
  gap: 0 1rem;
  position: relative;
}

.info-link {
  position: absolute;
  right: 4px;
  top: 4px;
}

@media screen and (max-width: 25rem) {
  .plr-info {
    grid-template-areas: "high high" "img info" "btn btn";
    gap: 0;
    justify-content: center;
  }

  .cnt-plr-high {
    margin-bottom: 0.5rem;
  }

  .plr-bio {
    margin-top: 1.6rem;
  }
}

.plr-info__name {
  font-size: 1.3rem;
  font-style: italic;
  margin: 0;
  text-align: center;
}

.plr-img {
  width: 150px;
}

.plr-bio {
  grid-area: info;
}

.cnt-plr-high {
  display: flex;
  gap: 3px 1.3rem;
  grid-area: high;
  justify-self: center;
  text-align: center;
}

.cnt-plr-img {
  grid-area: img;
}

.cnt-plr-sign {
  grid-area: btn;
}

.plr-high {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4px 0;
}

.plr-high > :last-child {
  font-size: 1.25rem;
  font-style: italic;
  font-weight: bold;
}

.plr-skills {
  display: grid;
  gap: 1rem 0;
  grid-template-columns: repeat(auto-fit, 11rem);
  justify-content: space-around;
  margin-top: 2.4rem;
}

.skill-score {
  border-radius: 3px;
  color: var(--lt-on-bg-color);
  display: inline-block;
  margin: 0.25rem 0;
  padding: 0.1rem 0.2rem;
}

.plr-skills > ul {
  margin: 0;
  padding: 0;
}

.plr-skills > ul > ul {
  padding-left: 2rem;
}

.plr-skills > ul > :first-child {
  font-weight: bold;
}

.plr-skills li {
  list-style-type: none;
  text-transform: capitalize;
  white-space: nowrap;
}

.plr-high__val,
.plr-high__val-stl {
  background-color: var(--dk-bg-color-600, var(--lt-bg-color--200));
  border-radius: 3px;
  width: 2.4rem;
}

.plr-high__val-stl {
  color: var(--lt-on-bg-color);
}

.sign-btn {
  margin-right: 1rem;
  padding: 3px 0;
  width: 150px;
}
