@import "../util/button.css";
@import "../util/form.css";
@import "../util/common.css";
@import "../util/dialog.css";
@import "../util/utilities.css";

sff-players,
players-table {
  display: block;
}

players-table {
  border-bottom: 1px solid var(--dk-bg-color-500, var(--lt-primary-color-300));
  height: 90vh;
  overflow: auto;
  padding: 0 3px;
}

.tb-controls {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: space-between;
  padding: 6px 0.5rem;
}

#search-player {
  max-width: 15rem;
}

.tb-pos {
  display: inline-block;
  text-align: center;
  width: 4rem;
  white-space: nowrap;
}

.tb-entries,
.ctl-tb-size,
.cnt-age-range {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

table {
  border-collapse: collapse;
  min-width: 30rem;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}

tbody > tr {
  border-bottom: 3px solid var(--dk-bg-color, var(--lt-bg-color));
}

td {
  background-color: var(--dk-bg-color-750, var(--lt-dg-color-100));
  height: 2.8rem;
  transition: background-color 0.25s, color 0.25s;
}

tr:nth-of-type(odd) > td {
  background-color: var(--dk-bg-color-700, var(--lt-dg-color-100));
}

tr:hover > td {
  background-color: var(--dk-primary-color, var(--lt-primary-color));
  color: var(--dk-on-primary-color, var(--lt-on-primary-color));
}

sff-go > a {
  transition: color 0.25s;
}

tr:hover a {
  color: var(--dk-on-primary-color, var(--lt-on-primary-color));
}

td,
th {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td:not(:first-child),
th:not(:first-child) {
  width: 4rem;
}

@media screen and (max-width: 64rem) {
  td:not(:first-child),
  th:not(:first-child) {
    width: 7.5%;
  }
}

td:first-child,
th:first-child {
  padding-left: 1%;
  text-align: left;
}

th {
  background-color: var(--dk-bg-color, var(--lt-dg-color));
  position: sticky;
  top: 0;
  vertical-align: bottom;
}

td:first-child {
  background-clip: padding-box;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

td:last-child {
  background-clip: padding-box;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.plr-pos {
  font-style: italic;
  text-transform: uppercase;
}

.rtg-cell {
  align-items: center;
  border-bottom: 1px solid;
  display: flex;
  height: 100%;
  justify-content: center;
  margin-top: 1px;
  width: 100%;
}

th > .btn-txt {
  font-weight: bold;
  font-size: clamp(0.9rem, 2vw, 1rem);
  text-transform: capitalize;
  width: 100%;
}

th:first-child > .btn-txt {
  text-align: left;
}

.btn-txt.ascending::after {
  content: "▲";
}

.btn-txt.descending::after {
  content: "▼";
}

#js-filters {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 10px max(2%, 1rem);
}

.age-input {
  width: 5rem;
}

.cnt-filters {
  align-items: center;
  background-color: var(--dk-bg-color-725, var(--lt-bg-color-200));
  background-clip: padding-box;
  border: 1px solid var(--dk-primary-color, var(--lt-primary-color));
  border-radius: 6px;
  box-shadow: 0px 1px 3px 0px hsl(0deg 0% 4% / 30%);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 5px;
  overflow: hidden;
}

.filters-dialog {
  overflow: auto;
  top: calc(var(--header-height) + 3.2rem);
  z-index: 2;
}

.rst-filters {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 3px 1rem;
  padding: 5px 0.5rem;
}

.rst-filters > h2 {
  margin: 0;
}

.filter-rst {
  display: inline-block;
  padding: 0px 4px;
}

.filter-btn {
  align-self: stretch;
  border-radius: 0;
  box-shadow: none;
  padding-right: 1rem;
}

.cnt-filters > .filter-btn:nth-child(2) {
  margin-left: 1px;
}

.arrow {
  background-color: var(--dk-primary-color-300, var(--lt-bg-color-200));
  padding: 0 0.5rem;
}
