@import url("../util/button.css");

sff-player {
  display: block;
}

.plr-info {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
}

.plr-info__name {
  font-size: 1.3rem;
  font-style: italic;
  margin: 0;
  text-align: center;
}

.plr-img {
  width: 150px;
}

.plr-bio {
  padding: 1rem;
  padding-top: 0;
}

.plr-bio > :first-child {
  display: flex;
  gap: 3px 1.3rem;
  margin-bottom: 0.65rem;
  text-align: center;
}

.plr-high {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4px 0;
}

.plr-high > :last-child {
  font-size: 1.25rem;
  font-style: italic;
  font-weight: bold;
}

.plr-skills {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  margin-top: 1rem;
}

.skill-score {
  border-radius: 3px;
  color: var(--lt-on-bg-color);
  display: inline-block;
  margin: 0.25rem 0;
  padding: 0.1rem 0.2rem;
}

.plr-skills > ul {
  margin: 4px 0;
}

.plr-skills li {
  list-style-type: none;
  text-transform: capitalize;
  white-space: nowrap;
}

.plr-high__val,
.plr-high__val-stl {
  background-color: var(--dk-bg-color-600, var(--lt-bg-color--200));
  border-radius: 3px;
  width: 2.4rem;
}

.plr-high__val-stl {
  color: var(--lt-on-bg-color);
}

.sign-btn {
  margin-right: 1rem;
  padding: 3px 0;
  width: 150px;
}

sff-go > a {
  color: var(--dk-on-bg-color, initial);
}
