@import "../util/button.css";
@import "../util/form.css";

sff-players,
players-table {
  display: block;
}

table {
  table-layout: fixed;
  text-align: center;
  width: 100%;
}

thead tr {
  background-color: var(--dk-bg-color-500, var(--lt-dg-color-300));
}

tbody > tr:nth-of-type(odd) {
  background-color: var(--dk-bg-color-700, var(--lt-dg-color-100));
}

tr > th:nth-of-type(1) {
  width: 15%;
}

td,
th {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0.15rem;
}

abbr[title] {
  text-decoration-thickness: 1px;
}

th.ascending,
th.descending {
  width: 6%;
}

th > .btn-txt {
  text-transform: capitalize;
  width: 100%;
}

.btn-txt.ascending::after {
  content: "▲";
}

.btn-txt.descending::after {
  content: "▼";
}

#js-filters {
  background-clip: border-box;
  border: 2px solid var(--dk-bg-color-500, --dk-bg-color-500);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
  padding: 0.5rem;
  width: max-content;
}

.cnt-filters {
  display: flex;
}

.cnt-filters > :first-child {
  flex-shrink: 0;
}

@media screen and (max-width: 28rem) {
  .cnt-filters {
    flex-wrap: wrap;
  }

  .cnt-filters > :first-child {
    flex-shrink: initial;
  }
}

.filter-rst {
  display: inline-block;
  padding: 0px 4px;
}
