@import "../util/button.css";
@import "../util/form.css";

:host,
players-table {
  display: block;
}

players-table {
  margin-top: 0.25rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

table {
  table-layout: fixed;
  text-align: center;
  width: 100%;
}

thead tr {
  background-color: var(--dk-bg-color-500, var(--lt-dg-color-300));
}

tbody > tr:nth-of-type(odd) {
  background-color: var(--dk-bg-color-700, var(--lt-dg-color-100));
}

tr > th:nth-of-type(1) {
  width: 15%;
}

td,
th {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0.15rem;
}

abbr[title] {
  cursor: default;
  text-decoration-thickness: 1px;
}
