@import "../util/button.css";
@import "../util/common.css";

:host {
  display: block;
  margin: 5px 0px 8px;
  overflow: auto;
}

table {
  border-collapse: collapse;
  min-width: 34rem;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}

caption > h2 {
  border-bottom: 2px solid var(--dk-on-bg-color, var(--lt-on-bg-color));
  border-top: 2px solid var(--dk-on-bg-color, var(--lt-on-bg-color));
  margin: 0;
  padding: 1rem 0;
  text-align: left;
}

tr:nth-of-type(even) {
  background-color: var(--dk-bg-color-700, var(--lt-bg-color-100));
}

th {
  text-transform: capitalize;
}

td,
th {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th:nth-of-type(11),
th:last-child {
  width: 10%;
}

th.small-col {
  width: 3.5rem;
}

@media screen and (max-width: 64rem) {
  th:last-child {
    width: 4rem;
  }

  th:nth-of-type(11) {
    width: 5rem;
  }

  th.small-col {
    width: 6%;
  }

  .small-col {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 45rem) {
  th.small-col {
    width: 5.4%;
  }
}

th:nth-of-type(1),
td:nth-of-type(1) {
  font-style: italic;
  padding-left: 1%;
  text-align: left;
}

.plr-pos {
  text-transform: uppercase;
}

.sign-btn {
  margin: 3px 0;
  width: clamp(3.5rem, 90%, 6rem);
}

.skill-score {
  border-bottom-style: solid;
  background-clip: padding-box;
  border-bottom-width: 1px;
  display: inline-block;
  width: 1.3rem;
}
