:root {
  --bg-color: hsl(275deg, 4%, 100%);
  --bg-v2-color: hsl(275deg, 4%, 95%);
  --bg-v3-color: hsl(275deg, 4%, 90%);
  --bg-v4-color: hsl(275deg, 4%, 85%);
  --font-color: #1f1f1f;
  --accent-color: #ddaffc;
  --accent-dk-color: #ac77c9;
  --accent-lt-color: #ffd9ff;
  --accent-cmp-color: #a8d085;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: hsl(275deg, 4%, 16%);
    --bg-v2-color: hsl(275deg, 4%, 24%);
    --bg-v3-color: hsl(275deg, 4%, 32%);
    --bg-v4-color: hsl(275deg, 4%, 40%);
    --font-color: #d2d3d4;
  }
}

/* default mode */
:root.dark {
  --bg-color: hsl(275deg, 4%, 16%);
  --bg-v2-color: hsl(275deg, 4%, 24%);
  --bg-v3-color: hsl(275deg, 4%, 32%);
  --bg-v4-color: hsl(275deg, 4%, 40%);
  --font-color: #d2d3d4;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  margin: 0;
}
